<header>
  <nav>
    <a id='logo' routerLink="">
      <img src="https://img.icons8.com/color/48/000000/captain-america.png" alt="Logo de la barra de navegación" />
    </a>
    <input id="input-menu" type="checkbox" />
    <label class="hamburguer-icon" for="input-menu">
      <span></span>
      <span></span>
      <span></span>
    </label>
    <ul class="items-nav">
      <li>
        <a routerLink="/home">HOME</a>
      </li>
      <li>
        <a routerLink="/imagenes">IMAGENES</a>
      </li>
      <li>
        <a routerLink="/votos">MIS VOTOS</a>
      </li>
    </ul>
  </nav>
</header>
