<section class="home-main-container" *ngIf="!loaded">
  <img src="https://media1.tenor.com/images/2bf5e7237248ae65f31c85eba6ce3539/tenor.gif?itemid=13956215"
    alt="Loading icon gif">
</section>
<section class="home-main-container" *ngIf="loaded">
  <h2>{{comic.safe_title}}</h2>
  <img [src]="comic.img" [alt]="comic.alt">
  <form #rate="ngForm" (ngSubmit)=" rateComic()">
    <div (change)="getRating($event)" id="rating-stars">
      <input type="radio" name="rating" value="6" id="rating-6">
      <label for="rating-6">&#9733;</label>
      <input type="radio" name="rating" value="5" id="rating-5">
      <label for="rating-5">&#9733;</label>
      <input type="radio" name="rating" value="4" id="rating-4">
      <label for="rating-4">&#9733;</label>
      <input type="radio" name="rating" value="3" id="rating-3">
      <label for="rating-3">&#9733;</label>
      <input type="radio" name="rating" value="2" id="rating-2">
      <label for="rating-2">&#9733;</label>
      <input type="radio" name="rating" value="1" id="rating-1">
      <label for="rating-1">&#9733;</label>
    </div>
    <p>
      {{rating}}
    </p>
    <label for="review">Deja tu comentario:</label>
    <input type="text" name="review" id="review" placeholder="Comenta aquí...">
    <button type="submit">
      Envia tu voto
    </button>
  </form>
</section>
