@import '../../../styles.scss';


.home-main-container{
  width: 100%;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 40rem;
  position: relative;

  h2{
    margin-bottom: 2rem;
  }

  img{
    width: 70%;
    height: 17rem;
  }

  form{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 17rem;
    width: 60%;

    #rating-stars{
      align-self: center;
      font-size: 3rem;
      color: $grey;
      display: flex;
      flex-direction: row;
      align-items: center;
      //Direction Vital para que el efecto vaya de izquierda a derecha en las estrellas
      direction: rtl;

      input{
        display: none;
      }

      label{
        cursor: pointer;
        color: $grey;
        transition: color 0.7s;
      }

      label:hover, label:hover ~ label,
      input:checked ~ label  {
        color: $blue;
      }
    }

    p{
      align-self: center;
      color: $blue;
      font-weight: 600;
    }

    .danger{
      color: red;
      font-weight: 600;
      margin-bottom: 0.6rem;
      text-align: center;

      &:nth-last-child(2){
        text-align: left;
      }
    }

    #review{
      border: 2px solid $red;
      font-size: 0.7rem;
      padding: 1rem;
    }

    button{
      align-self: center;
      text-align: center;
      height: 3rem;
      width: 10rem;
      border-radius: 10px;
      background: $blue;
      box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
    }
  }
}


.navigate-btns{
  margin-top: 3rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  button{
    background: transparent;

    img{
      width: 10rem;
      height: 10rem;
    }
  }
}
