<header>
  <h1>
    {{title}}
  </h1>
  <button (click)="getImages()" title="Obten nuevas imagenes">
    <img src="https://img.icons8.com/color/48/000000/new--v1.png" alt="icono del boton para pedir nuevas imagenes" />
    <p>Pide nuevos comics</p>
  </button>
</header>
<div id="random-container">
  <div class="container-img-random">
    <p>Esperando...</p>
    <img src="https://thumbs.gfycat.com/HappyWaterloggedDuckling-size_restricted.gif"
      alt="Esperandoa a que cargue la imagen">
  </div>
  <div class="container-img-random">
    <p>Esperando...</p>
    <img src="https://thumbs.gfycat.com/HappyWaterloggedDuckling-size_restricted.gif"
      alt="Esperandoa a que cargue la imagen">
  </div>
  <div class="container-img-random">
    <p>Esperando...</p>
    <img src="https://thumbs.gfycat.com/HappyWaterloggedDuckling-size_restricted.gif"
      alt="Esperandoa a que cargue la imagen">
  </div>
  <div class="container-img-random">
    <p>Esperando...</p>
    <img src="https://thumbs.gfycat.com/HappyWaterloggedDuckling-size_restricted.gif"
      alt="Esperandoa a que cargue la imagen">
  </div>
  <div class="container-img-random">
    <p>Esperando...</p>
    <img src="https://thumbs.gfycat.com/HappyWaterloggedDuckling-size_restricted.gif"
      alt="Esperandoa a que cargue la imagen">
  </div>
  <div class="container-img-random">
    <p>Esperando...</p>
    <img src="https://thumbs.gfycat.com/HappyWaterloggedDuckling-size_restricted.gif"
      alt="Esperandoa a que cargue la imagen">
  </div>
  <div class="container-img-random">
    <p>Esperando...</p>
    <img src="https://thumbs.gfycat.com/HappyWaterloggedDuckling-size_restricted.gif"
      alt="Esperandoa a que cargue la imagen">
  </div>
  <div class="container-img-random">
    <p>Esperando...</p>
    <img src="https://thumbs.gfycat.com/HappyWaterloggedDuckling-size_restricted.gif"
      alt="Esperandoa a que cargue la imagen">
  </div>
  <div class="container-img-random">
    <p>Esperando...</p>
    <img src="https://thumbs.gfycat.com/HappyWaterloggedDuckling-size_restricted.gif"
      alt="Esperandoa a que cargue la imagen">
  </div>
  <div class="container-img-random">
    <p>Esperando...</p>
    <img src="https://thumbs.gfycat.com/HappyWaterloggedDuckling-size_restricted.gif"
      alt="Esperandoa a que cargue la imagen">
  </div>
  <div class="container-img-random">
    <p>Esperando...</p>
    <img src="https://thumbs.gfycat.com/HappyWaterloggedDuckling-size_restricted.gif"
      alt="Esperandoa a que cargue la imagen">
  </div>
  <div class="container-img-random">
    <p>Esperando...</p>
    <img src="https://thumbs.gfycat.com/HappyWaterloggedDuckling-size_restricted.gif"
      alt="Esperandoa a que cargue la imagen">
  </div>
</div>
